body,
html,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd,
header,
menu,
section,
p,
input,
td,
th,
ins {
  padding: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0;
}

li,
s {
  list-style: none;
}

body,
textarea,
select,
input,
button {
  font-size: 12px;
  color: #333;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-text-size-adjust: none;
}

html,
body {
  width: 100%;
  height: 100%;
  border: 0;
  word-wrap: break-word;
  word-break: break-word;
}
body {
  *zoom: 1;
  min-width: 982px;
  background: #f5f5f5;
  text-align: center;
  overflow-x: hidden;
  overflow-y: auto;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  text-decoration: underline;
  color: #333;
}

em,
i {
  font-style: normal;
  text-align: left;
  font-size: inherit;
}

img,
.txt {
  border: 0;
}

input:focus,
textarea:focus,
span:focus,
a:focus,
button:focus {
  outline: none;
}

.m-top .logo,
.m-nav .cor,
.m-nav .hot,
.m-srch .srchbg,
.m-mail,
.m-tophead,
.m-topvd {
  background: url("../images/topbar.png") no-repeat 0 9999px;
}

.f-cb {
  zoom: 1;
}

.f-cb:after {
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
}

.f-pr {
  position: relative;
  zoom: 1;
}

.f-pa {
  position: absolute;
}

.f-r-white-icon {
  background: url("../images/white-r-icon@3x.png");
}

.f-thide {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal;
}

.f-fs1 {
  font-size: 14px;
}
.f-fl {
  float: left;
}
.g-ft {
  position: relative;
  height: 148px;
  overflow: hidden;
  border-top: 1px solid #d3d3d3;
  background: #f2f2f2;
}

.g-bd,
.g-bd1,
.g-bd2,
.g-bd3,
.g-bd4,
.g-bd5,
.g-bd6,
.g-bd7 {
  width: 980px;
  min-height: 700px;
  _height: 700px;
  margin: 0 auto;
  background-color: #fff;
  border: 1px solid #d3d3d3;
  border-width: 0 1px;
}

.g-mn1 {
  float: left;
  width: 100%;
  margin-right: -250px;
}

.g-mn1c {
  margin-right: 251px;
}

.g-wrap3 {
  padding: 20px 20px 40px;
}

.s-bg,
.v-hd2,
.n-disk li {
  background: url("../images/index.png") no-repeat 0 9999px;
}
.s-bg-1 {
  background-position: 0 0;
}
.s-bg-2 {
  background-position: 0 -195px;
}
.s-bg-2:hover {
  background-position: -110px -195px;
}
.s-bg-8 {
  background-position: -300px -75px;
}
.s-bg-8:hover {
  background-position: -320px -75px;
}
.s-bg-6 {
  background-position: 0 -240px;
}
.s-bg-7 {
  background-position: -260px -75px;
}
.s-bg-7:hover {
  background-position: -280px -75px;
}
.s-bg-9 {
  background-position: -267px -205px;
}
.s-bg-9:hover {
  background-position: -267px -235px;
}
.s-bg-10 {
  background-position: -300px -205px;
}
.s-bg-10:hover {
  background-position: -300px -235px;
}
.s-bg-11 {
  background-position: -267px -268px;
}
.s-bg-11:hover {
  background-position: -267px -288px;
}
.s-bg-12 {
  background-position: -297px -268px;
}
.s-bg-12:hover {
  background-position: -297px -288px;
}
.g-bd1 {
  background: url("../images/wrap1.png") repeat-y 100% 100%;
}
.n-bilst ol li * {
  vertical-align: middle;
}

.v-hd2 {
  height: 33px;
  padding: 0 10px 0 34px;
  background-position: -225px -156px;
  border-bottom: 2px solid #c10d0c;
  .tit {
    float: left;
    font-size: 20px;
    font-weight: normal;
    line-height: 28px;
  }
  .tab {
    float: left;
    margin: 7px 0 0 20px;
    .line {
      margin: 0 10px;
      color: #ccc;
    }
  }
  .more {
    float: right;
    margin-top: 9px;
    _margin-top: 11px;
  }
}

.v-hd2 .more .cor,
.v-hd3 .more .cor {
  display: inline-block;
  width: 12px;
  height: 12px;
  margin-left: 4px;
  vertical-align: middle;
}
.v-hd3 {
  height: 35px;
  border-bottom: 2px solid #d13030;
  text-align: left;
}
.v-hd3 {
  position: relative;
  *zoom: 1;
  height: 23px;
  margin: 0 20px;
  border-bottom: 1px solid #ccc;
  color: #333;
  .more {
    float: right;
    font-weight: normal;
  }
}
.s-fc0,
a.s-fc0:hover {
  color: #000;
}

.s-fc3,
a.s-fc3:hover {
  color: #666;
}
a.s-fc3:hover {
  text-decoration: underline;
}

.f-tdn,
.f-tdn:hover {
  text-decoration: none;
}

.f-ff2 {
  font-family: "Microsoft Yahei", Arial, Helvetica, sans-serif;
}

.u-cover .bottom,
.u-cover .msk,
.n-musicsd .lst .avatar .msk {
  background: url("../images/coverall.png") no-repeat;
}

.u-cover .ply,
.u-cover .icon-headset,
.u-cover .icon-play,
.u-face .msk,
.n-note .head .msk,
.icn-vip,
.icn-daren,
.u-checkbox {
  background: url("../images/iconall.png") no-repeat;
}

.u-cover .icon-headset,
.u-cover .icon-play {
  display: inline-block;
}

.u-cover {
  position: relative;
  display: block;
  img {
    display: block;
    width: 100%;
    height: 100%;
  }
  .msk {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    background-position: 0 -537px;
    color: #ccc;
  }
  .icon-play {
    position: absolute;
    right: 10px;
    bottom: 5px;
    width: 16px;
    height: 17px;
    background-position: 0 0;
    cursor: pointer;
    &:hover {
      background-position: 0 -60px;
    }
  }
  .icon-headset {
    float: left;
    width: 14px;
    height: 11px;
    background-position: 0 -24px;
    margin: 9px 5px 9px 10px;
  }
  .nb {
    float: left;
    margin: 7px 0 0 0;
  }
}

.u-cover-1 {
  width: 140px;
  height: 140px;
  .msk {
    background-position: 0 0;
  }
}

.u-cover-4 {
  width: 80px;
  height: 80px;
  .msk {
    background-position: -145px -57px;
  }
}

.u-cover-alb1 {
  width: 100px;
  height: 100px;
  .msk {
    width: 118px;
    height: 100px;
    background-position: 0 -570px;
  }
}
.u-cover-0 .icon-play,
.u-cover-alb1 .icon-play,
.u-cover-10 .icon-play,
.u-cover-11 .icon-play,
.u-cover-12 .icon-play {
  left: 72px;
  width: 22px;
  height: 22px;
  background-position: 0 -85px;
  _background-position: 0 0;
}
.u-cover-alb1 .icon-play,
.u-cover-alb2 .icon-play,
.u-cover-alb3 .icon-play {
  display: none;
  _display: block;
}

.u-cover-alb1:hover .icon-play,
.u-cover-alb2:hover .icon-play,
.u-cover-alb3:hover .icon-play {
  display: block;
}

.u-cover-0 .icon-play:hover,
.u-cover-alb1 .icon-play:hover,
.u-cover-10 .icon-play:hover,
.u-cover-11 .icon-play:hover,
.u-cover-12 .icon-play:hover {
  background-position: 0 -110px;
  _background-position: 0 0;
}

.u-icn,
.u-title-1 .out .icon {
  background: url("../images/icon.png") no-repeat 0 9999px;
}
.u-icn,
.u-icn2,
.u-icn3 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.u-icn-1 {
  width: 11px;
  height: 13px;
  background-position: 0 1px;
  font-size: 100%;
  font-style: normal;
}
.u-icn,
.u-icn2,
.u-icn3 {
  display: inline-block;
  overflow: hidden;
  vertical-align: middle;
}
.u-icn-81 {
  width: 13px;
  height: 13px;
  background-position: 0 -700px;
}
.u-icn-81:hover {
  background-position: -22px -700px;
}
.g-sd1 {
  position: relative;
  float: right;
  width: 250px;
  zoom: 1;
}

.m-back,
.m-lycifo .downapp,
.m-plshare .btn,
.m-pubcode .code,
.m-multi .bg,
.m-multi .bg a:hover {
  background: url("../images/sprite.png") no-repeat 0 9999px;
}
